<!-- benefits section -->
<section class="section" id="benefits">
  <div class="container benefits">
    <svg class="section-svg" width="300" height="20">
      <use href="../public/icons/symbol.svg#icon-decoration"></use>
    </svg>
    <h2 class="benifits-title">
      Capture Every Moment with Our Tailored Wedding Photography Packages
    </h2>
    <div class="benefits-list">
      <ul class="benefits-list-elements">
        <li class="benefits-element">
          <img src="" alt="" />
          <h3>Your Perfect Story: A Package Tailored for You.</h3>
          <p>
            Explore our collection of wedding packages, each designed to
            perfectly capture the uniqueness of your special day.
          </p>
        </li>
        <li class="benefits-element">
          <img src="" alt="" />
          <h3>From Dawn to Stars: Your Full Day in Frame.</h3>
          <p>
            Capture every emotion, from the morning preparations to the grand
            finale of your wedding celebration.
          </p>
        </li>
        <li class="benefits-element">
          <img src="" alt="" />
          <h3>Precious Moments: Capturing Your Key Events.</h3>
          <p>
            Perfect for preserving the most important moments of your intimate
            ceremony or smaller celebration.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
