<!-- benefits section -->
<section class="section" id="benefits">
  <div class="container benefits">
    <div class="benefits-title-name">
      <svg class="section-svg" width="300" height="21">
        <use href="../public/icons/symbol.svg#icon-decoration"></use>
      </svg>
      <h2 class="benefits-title">
        Capture Every Moment with Our Tailored <br />Wedding Photography
        Packages
      </h2>
    </div>
    <div class="benefits-list">
      <ul class="benefits-list-elements">
        <li class="benefits-element">
          <svg class="benefits-icons" width="100" height="100">
            <use href="../public/icons/symbol.svg#icon-Frame-6"></use>
          </svg>
          <h3 class="benefits-name">
            Your Perfect Story: A Package Tailored for You.
          </h3>
          <p class="benefits-info">
            Explore our collection of wedding packages, each designed to
            perfectly capture the uniqueness of your special day.
          </p>
        </li>
        <li class="benefits-element">
          <svg class="benefits-icons" width="100" height="100">
            <use href="../public/icons/symbol.svg#icon-Frame-3"></use>
          </svg>
          <h3 class="benefits-name">
            From Dawn to Stars: Your Full <br class="desktop-br" />
            Day in <br class="tablet-br" />
            Frame.
          </h3>
          <p class="benefits-info">
            Capture every emotion, from the morning preparations to the grand
            finale of your wedding celebration.
          </p>
        </li>
        <li class="benefits-element">
          <svg class="benefits-icons" width="100" height="100">
            <use href="../public/icons/symbol.svg#icon-Frame-1"></use>
          </svg>
          <h3 class="benefits-name">
            Precious Moments: Capturing Your Key Events.
          </h3>
          <p class="benefits-info">
            Perfect for preserving the most important moments of your intimate
            ceremony or smaller celebration.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
