<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__content-wrapper">
      
      <div class="contacts__info-block">
        <div class="contacts__info-content">
          <div class="contacts__decor">
            <svg class="contacts__decor-icon" width="300" height="21" aria-hidden="true">
              <use href="./icons/symbol.svg#icon-decoration"></use>
            </svg>
          </div>

          <h2 class="contacts__title">Let's Tell Your Story</h2>
          <p class="contacts__description">
            I can't wait to hear more about your wedding! Tell me about your plans, and I'll be in touch to discuss how we can create magic together.
          </p>

          <address class="contacts__address">
            <ul class="contacts__list">
              <li class="contacts__item">
                <a class="contacts__link" href="mailto:info@mariakovalenko.com">
                  <svg class="contacts__icon" width="20" height="20" aria-hidden="true">
                    <use href="./icons/symbol.svg#icon-mail"></use>
                  </svg>
                  <span class="contacts__text">info@mariakovalenko.com</span>
                </a>
              </li>
              <li class="contacts__item">
                <a class="contacts__link" href="tel:+405551234567">
                  <svg class="contacts__icon" width="20" height="20" aria-hidden="true">
                    <use href="./icons/symbol.svg#icon-call"></use>
                  </svg>
                  <span class="contacts__text">+40 (555) 123-4567</span>
                </a>
              </li>
              <li class="contacts__item">
                <div class="contacts__link contacts__link--static">
                  <svg class="contacts__icon" width="20" height="20" aria-hidden="true">
                    <use href="./icons/symbol.svg#icon-location_on"></use>
                  </svg>
                  <span class="contacts__text">Raschdorffstraße 2-26, 13409 Berlin, Germany</span>
                </div>
              </li>
            </ul>
          </address>
        </div>
      </div>

      <form class="contacts__form" id="contacts-form" autocomplete="off">
        <div class="contacts__form-field">
          <label class="contacts__form-label" for="contact-name">Name*</label>
          <input class="contacts__form-input" type="text" id="contact-name" name="name" placeholder="Maria" required />
          <span class="contacts__form-error">Error text</span>
        </div>

        <div class="contacts__form-field">
          <label class="contacts__form-label" for="contact-phone">Phone*</label>
          <input class="contacts__form-input" type="tel" id="contact-phone" name="phone" placeholder="380961234568" required />
          <span class="contacts__form-error">Error text</span>
        </div>

        <div class="contacts__form-field">
          <label class="contacts__form-label" for="contact-message">Message</label>
          <textarea class="contacts__form-textarea" id="contact-message" name="comment" placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..." required></textarea>
          <span class="contacts__form-error">Error text</span>
        </div>

        <button class="contacts__form-btn" type="submit">Let's Talk</button>
      </form>

    </div>
  </div>
</section>