<footer class="footer">
  <div class="container footer-container">
    <div class="footer-border">
      <div class="footer-logo-container">
        <a class="logo logo-footer" href="#">
          <img
            src="/logo.svg"
            alt="Maria Kovalenko logo"
            width="206"
            height="160"
          />
        </a>
        <div class="footer-text-container">
          <p class="footer-text">
            &copy; 2025 Maria Kovalenko Photography. All rights reserved.
          </p>
        </div>
      </div>

      <div class="footer-links">
        <div class="nav-container">
          <p class="footer-list-title">Menu</p>
          <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
          </ul>
        </div>

        <div class="soc-container">
          <p class="footer-list-title">Follow Me</p>
          <ul class="soc-list">
            <li class="soc-item">
              <a
                class="soc-link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon icon-facebook" width="24" height="24">
                  <use href="/icons/symbol.svg#icon-Facebook"></use>
                </svg>
                Facebook
              </a>
            </li>
            <li class="soc-item">
              <a
                class="soc-link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon icon-instagram" width="24" height="24">
                  <use href="/icons/symbol.svg#icon-Instagram"></use>
                </svg>
                Instagram
              </a>
            </li>
            <li class="soc-item">
              <a
                class="soc-link"
                href="https://x.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon icon-x" width="24" height="24">
                  <use href="/icons/symbol.svg#icon-X"></use>
                </svg>
                X
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
