<!-- <link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/container.css">
<link rel="stylesheet" href="../css/header.css"> -->


<header class="header">
  <div class="header-container">

    <a href="./index.html">
      <img class="img-logo" src="/logo.svg" alt="Lumora Studio" width="85" height="48">
    </a>

    <nav class="nav-header">
      <ul class="nav-list">
        <li><a href="#about">About Me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#faq">FAQ</a></li>
        
      </ul>
       <button class="btn-book" data-scroll-to="#contacts" type="button">
  Book a Session
</button>
    </nav>

   

 <button class="hamburger" type="button" aria-label="Open menu">
  <span></span>
  <span></span>
  <span></span>
</button>

  </div>

<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-menu_top">
    <a href="./index.html" >
      <img class="img-logo" src="/logo.svg" alt="Lumora Studio" width="85" height="48">
    </a>
    <button class="mobile-menu__close" aria-label="Close menu">✕</button>
  </div>

  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li><a href="#about">About Me</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
  </nav>

  <button class="btn-book mobile-btn" data-scroll-to="#contacts">
    Book a Session
  </button>
</div>
</header>
