<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <section class="portfolio" id="portfolio">

        <h2 class="goncha">Portfolio Highlights</h2>

        <ul class="categories" id="categories"></ul>

        <ul class="photoport" id="photoport"></ul>

        <div class="loader hidden" id="loader">Loading...</div>

        <div class="buttonholder">
            <button type="button" class="buttonport" id="buttonport">
                Show More
            </button>
        </div>

    </section>

    <script type="module" src="./js/portfolio.js"></script>
</body>

</html>