/* Mobile First */
.benefits-section {
    padding: 64px 0;
}

.section-svg {
    display: block;
    margin: 0 auto 16px;
}

.benefits {
    padding: 0px 24px;
}

.benefits-title{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 40px;

}

.benefits-icons {
    display: block;
    margin: 0 auto;
    fill: var(--color-neutral-darkest);
}


.benefits-list-elements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.benefits-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    
}

.benefits-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.desktop-br,
.tablet-br {
    display: none;
}

.benefits-info {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.benefits-title br {
    display: none;
}


/* Tablet */
@media only screen and (min-width: 768px){
    .benefits {
            padding: 0 32px;
        }

    .benefits-title-name {
        height: 105px;
        width: auto;
        /* padding: 0 16px; */
        margin-bottom: 40px;
    }
    .benefits-element{
        flex-direction: column;
        gap: 12px;
        width: calc((100% - 24px * 2) / 3);
    }
    .tablet-br{
        display: inline;
    }
}


/* Desktop */
@media only screen and (min-width: 1440px) {
    .benefits-section{
        padding: 92px 0;
    }
    .benefits {
        padding: 0 64px;
    }
    .benefits-title {
        font-size: 40px;
    }
    .desktop-br {
        display: inline;
    }
    .tablet-br {
        display: none;
    }
    .benefits-element {
        align-items: center;
        width: calc((100% - 175px * 2) / 3);
    }
    .benefits-title-name {
        height: 154px;
    }
    .benefits-title br {
        display: inline;
    }
    .benefits-list-elements{
        justify-content: center;
    }
    .benefits-list-elements {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        gap: 175px;
    }
}
